* {
    margin: 0;
    padding: 0;
}

.carousel-control-next-icon {
    background-image: url(../icons/right-arrow.svg) !important ;
   
}


.carousel-control-prev-icon {
    background-image: url(../icons/left-arrow.svg) !important ;
}

.carousel-control-prev {
    width: 22% !important;
}

.carousel-control-next {
    width: 15% !important;
}

.carousel-item {
   display: flex !important;
   justify-content: center;
}
