.main_features_container {
    background: #F9F9F9;
}

.land_main {
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
}

.land {
    margin-left: 10rem;
}
.land h4 {
    width: 693px;
    height: 50px;
    left: 42px;
    top: 671px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 46px;
    line-height: 50px;
    text-align: center;
    color: #234816;

}


.land p {
    width: 667px;
    margin-top: 13px;
    height: 60px;
    left: 74px;
    top: 734px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 34px;
    text-align: center;
    color: #234816;

}


.land_picture {
    margin-right: 10rem;
}

.beans_main {
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
}

.beans {
    margin-right: 10rem;
}
.beans h4 {
    width: 693px;
    height: 50px;
    left: 42px;
    top: 671px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 46px;
    line-height: 50px;
    text-align: center;
    color: #234816;

}


.beans p {
    width: 667px;
    margin-top: 13px;
    height: 60px;
    left: 74px;
    top: 734px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 34px;
    text-align: center;
    color: #234816;

}


.beans_picture {
    margin-left: 10rem;
}


.resource_main {
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
}

.resource {
    margin-left: 10rem;
}
.resource h4 {
    width: 693px;
    height: 50px;
    left: 42px;
    top: 671px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 46px;
    line-height: 50px;
    text-align: center;
    color: #234816;

}


.resource p {
    width: 667px;
    margin-top: 13px;
    height: 60px;
    left: 74px;
    top: 734px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 34px;
    text-align: center;
    color: #234816;

}


.resource_picture {
    margin-right: 10rem;
}


.market_main {
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
}

.market {
    margin-right: 10rem;
}
.market h4 {
    width: 693px;
    height: 50px;
    left: 42px;
    top: 671px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 46px;
    line-height: 50px;
    text-align: center;
    color: #234816;

}


.market p {
    width: 667px;
    margin-top: 13px;
    height: 60px;
    left: 74px;
    top: 734px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 34px;
    text-align: center;
    color: #234816;

}


.market_picture {
    margin-left: 10rem;
}




.sustainability_main {
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
}

.sustainability {
    margin-left: 10rem;
}
.sustainability h4 {
    width: 693px;
    height: 50px;
    left: 42px;
    top: 671px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 46px;
    line-height: 50px;
    text-align: center;
    color: #234816;

}


.sustainability p {
    width: 667px;
    margin-top: 13px;
    height: 60px;
    left: 74px;
    top: 734px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 34px;
    text-align: center;
    color: #234816;

}


.sustainability_picture {
    margin-right: 10rem;
}



.risk_main {
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
}

.risk {
    margin-right: 10rem;
}
.risk h4 {
    width: 693px;
    height: 50px;
    left: 42px;
    top: 671px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 46px;
    line-height: 50px;
    text-align: center;
    color: #234816;

}


.risk p {
    width: 667px;
    margin-top: 13px;
    height: 60px;
    left: 74px;
    top: 734px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 34px;
    text-align: center;
    color: #234816;

}


.risk_picture {
    margin-left: 10rem;
}


.collaborations_main {
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
}

.collaborations {
    margin-left: 10rem;
}
.collaborations h4 {
    width: 693px;
    height: 50px;
    left: 42px;
    top: 671px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 46px;
    line-height: 50px;
    text-align: center;
    color: #234816;

}


.collaborations p {
    width: 667px;
    margin-top: 13px;
    height: 60px;
    left: 74px;
    top: 734px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 34px;
    text-align: center;
    color: #234816;

}


.collaborations_picture {
    margin-right: 10rem;
}

.transparency_main {
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
}

.transparency {
    margin-right: 10rem;
}
.transparency h4 {
    width: 693px;
    height: 50px;
    left: 42px;
    top: 671px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 46px;
    line-height: 50px;
    text-align: center;
    color: #234816;

}


.transparency p {
    width: 667px;
    margin-top: 13px;
    height: 60px;
    left: 74px;
    top: 734px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 34px;
    text-align: center;
    color: #234816;

}


.transparency_picture {
    margin-left: 10rem;
}








