nav{
    position: Flex;
    justify-content: center;
    left: 0; 
    right: 0;
    top: 0;
    background:  #e19696;
    ;
    display: flex;

    height: 84px;
  
    
}

/* not working */
.Nav-logo div{
    position: fixed;
    left: 0px;

    justify-content: flex-start;
}


ul {
/* make button in the middle too */
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

li {
    margin: 0 10px;
    color: #002629;
    display: inline-block;
    align-items: center;
    justify-content: center;


}




a {
    color: #002629;
    text-decoration: none;
    padding: 10px;
    display: block;

    /* font-family: 'Inter'; */
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 40px;
    /* identical to box height, or 182% */

    display: flex;
    align-items: center;
    text-align: center;
  }

button{

    width: 161px;
    height: 44px;
    margin: 0 25px;
    font-size: 16px;
    /* set text center */
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.loginbutton {
    
    
        box-sizing: border-box;
        /* Auto layout */
        padding: 12px 26px;
        gap: 10px;
        background: rgba(171, 190, 209, 0.09);
        /* CUBESEED/ref/secondary/secondary10 */
        border: 2px solid #FFB84C;
        border-radius: 100px;
        /* Inside auto layout */
        flex: none;
        order: 0;
        flex-grow: 0;
        color: #886634;
 }

.signupbutton {

    /* Primary, active button */
    /* Auto layout */

    padding: 12px 26px;
    gap: 10px;
    position: flex;
    /* CUBESEED/ref/secondary/secondary10 */
    background: #FFB84C;
    border-radius: 100px;
    color: #002629;
}

.Nav-logo {
    font-size: 28px;
    font-weight: bold;
    margin-left: 10px;

  }
